<div
  class="fixed flex items-center justify-center bg-gray-400/30 top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto sm:inset-0 h-[calc(100%-1rem)] md:h-full scrollbar-hide"
  (click)="closeModel()"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative h-full w-full max-w-7xl max-h-[650px] overflow-y-auto rounded-lg no-scrollbar print:overflow-visible print:max-h-none print:h-auto"
  >
    <div class="relative bg-white rounded-lg shadow mt-50">
      <div class="p-5 border-b rounded-t bg-gray-600 text-white">
        <div class="flex justify-between">
          <p class="text-xl flex mb-0 items-center font-semibold">
            Fairmount LLC
          </p>

          <button
            type="button"
            class="text-gray-200 bg-transparent rounded-3xl text-sm p-1 ml-auto inline-flex items-center"
            (click)="closeModel()"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <p class="">
          PO Status : <span class="font-semibold">{{ po.poStatus }}</span>
        </p>
      </div>
      <div class="px-6 mt-2">
        <div class="space-y-4 text-sm text-gray-700">
          <div class="flex flex-col justify-between gap-8">
            <div class="flex mb-2">
              <div>
                <button
                  (click)="addItemModel = !addItemModel"
                  class="ml-auto text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                >
                  Add New Item
                </button>
              </div>
              <div>
                <button
                  (click)="updateStatusModel = !updateStatusModel"
                  class="ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Update Status
                </button>
              </div>
            </div>
            <form [formGroup]="addPOItemForm">
              <div *ngIf="addItemModel">
                <h3 class="text-lg font-medium text-gray-900 mb-4">
                  Add New Item
                </h3>
                <div class="grid grid-cols-4 gap-4 mb-4">
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Quantity</label
                    >
                    <input
                      formControlName="quantity"
                      type="number"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter quantity"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('quantity')?.invalid &&
                        (addPOItemForm.get('quantity')?.dirty ||
                          addPOItemForm.get('quantity')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Quantity is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Unit</label
                    >
                    <input
                      formControlName="unit"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter unit"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('unit')?.invalid &&
                        (addPOItemForm.get('unit')?.dirty ||
                          addPOItemForm.get('unit')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Unit is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Description</label
                    >
                    <input
                      formControlName="description"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter description"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('description')?.invalid &&
                        (addPOItemForm.get('description')?.dirty ||
                          addPOItemForm.get('description')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Description is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Unit Price</label
                    >
                    <input
                      formControlName="unitPrice"
                      type="number"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter unit price"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('unitPrice')?.invalid &&
                        (addPOItemForm.get('unitPrice')?.dirty ||
                          addPOItemForm.get('unitPrice')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Unit Price is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Actual Cost Per Unit</label
                    >
                    <input
                      formControlName="actualCostPerUnit"
                      type="number"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter actual cost"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('actualCostPerUnit')?.invalid &&
                        (addPOItemForm.get('actualCostPerUnit')?.dirty ||
                          addPOItemForm.get('actualCostPerUnit')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Actual Cost is required.
                    </div>
                  </div>

                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Part #</label
                    >
                    <input
                      formControlName="partNumber"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter part number"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('partNumber')?.invalid &&
                        (addPOItemForm.get('partNumber')?.dirty ||
                          addPOItemForm.get('partNumber')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Part Number is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Trace</label
                    >
                    <select
                      formControlName="traceabilityRequired"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      name="trace"
                      id=""
                    >
                      <option value="" disabled selected>Select trace</option>
                      <option [value]="1">yes</option>
                      <option [value]="0">no</option>
                    </select>
                    <div
                      *ngIf="
                        addPOItemForm.get('traceabilityRequired')?.invalid &&
                        (addPOItemForm.get('traceabilityRequired')?.dirty ||
                          addPOItemForm.get('traceabilityRequired')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Trace is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Manufacturer Model</label
                    >
                    <input
                      formControlName="manufacturerModel"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter manufacturer model"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('manufacturerModel')?.invalid &&
                        (addPOItemForm.get('manufacturerModel')?.dirty ||
                          addPOItemForm.get('manufacturerModel')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Manufacturer Model is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Terms</label
                    >
                    <input
                      formControlName="terms"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter terms"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('terms')?.invalid &&
                        (addPOItemForm.get('terms')?.dirty ||
                          addPOItemForm.get('terms')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Terms is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Country Of Origin</label
                    >
                    <input
                      formControlName="countryOfOrigin"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter country of origin"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('countryOfOrigin')?.invalid &&
                        (addPOItemForm.get('countryOfOrigin')?.dirty ||
                          addPOItemForm.get('countryOfOrigin')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Country Of Origin is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >HSC</label
                    >
                    <input
                      formControlName="hsc"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter HSC"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('hsc')?.invalid &&
                        (addPOItemForm.get('hsc')?.dirty ||
                          addPOItemForm.get('hsc')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      HSC is required.
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <label for="" class="text-sm font-medium text-gray-700 mb-1"
                      >Weight & Dim</label
                    >
                    <input
                      formControlName="weightDim"
                      type="text"
                      class="border border-gray-300 rounded-lg px-3 py-2 focus:ring-blue-500 focus:border-blue-500 text-sm"
                      placeholder="Enter weight & dim"
                    />
                    <div
                      *ngIf="
                        addPOItemForm.get('weightDim')?.invalid &&
                        (addPOItemForm.get('weightDim')?.dirty ||
                          addPOItemForm.get('weightDim')?.touched)
                      "
                      class="text-red-500 text-xs mt-1"
                    >
                      Weight & Dim is required.
                    </div>
                  </div>
                </div>
                <div class="w-[20%] flex gap-2 items-end">
                  <button
                    (click)="onSubmit()"
                    [disabled]="isAdding || addPOItemForm.invalid"
                    class="bg-green-500 disabled:bg-green-200 disabled:cursor-not-allowed text-white px-4 py-2 rounded mt-6"
                  >
                    <ng-container *ngIf="!isAdding"> Add Item </ng-container>

                    <ng-container *ngIf="isAdding">
                      <span>Adding </span>
                      <span class="loading-dots">
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                      </span>
                    </ng-container>
                  </button>
                  <button
                    (click)="closeItemModel()"
                    class="bg-gray-500 text-white px-4 py-2 rounded mt-6"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
            <form [formGroup]="statusForm">
              <div *ngIf="updateStatusModel" class="mb-4">
                <label
                  for="customerName"
                  class="block mb-2 text-sm font-medium text-gray-700"
                >
                  Update PO Status
                </label>
                <select
                  id="statusName"
                  name="statusName"
                  formControlName="statusId"
                  class="block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500 text-sm"
                >
                  <option value="null" disabled selected>Select Status</option>
                  <option *ngFor="let status of statuses" [value]="status.id">
                    {{ status.name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    statusForm.get('statusId')?.invalid &&
                    (statusForm.get('statusId')?.dirty ||
                      statusForm.get('statusId')?.touched)
                  "
                  class="text-red-500 text-xs mt-1"
                >
                  Status is required.
                </div>
                <div class="w-[20%] flex gap-2 items-end">
                  <button
                    (click)="updateStatus()"
                    [disabled]="isUpdating || statusForm.invalid"
                    class="bg-green-500 disabled:bg-green-200 disabled:cursor-not-allowed text-white px-4 py-2 rounded mt-6"
                  >
                    <ng-container *ngIf="!isUpdating">
                      Update Status
                    </ng-container>

                    <ng-container *ngIf="isUpdating">
                      <span>Updating </span>
                      <span class="loading-dots">
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                      </span>
                    </ng-container>
                  </button>
                  <button
                    (click)="updateStatusModel = !updateStatusModel"
                    class="bg-gray-500 text-white px-4 py-2 rounded mt-6"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>

            <div class="overflow-x-auto" *ngIf="!loading">
              <table class="min-w-full border text-xs mb-4">
                <thead class="bg-gray-100">
                  <tr>
                    <th class="border px-2 py-1">ORDER DATE</th>
                    <th class="border px-2 py-1">MODE OF SHIPMENT</th>
                    <th class="border px-2 py-1">DELIVERY SCHEDULE</th>
                    <th class="border px-2 py-1">TERMS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border px-2 py-1">
                      {{ po.orderDate | date: "dd/MM/yyyy" }}
                    </td>
                    <td class="border px-2 py-1">
                      {{ po.modeOfShipment }}
                    </td>
                    <td class="border px-2 py-1">
                      {{ po.deliverySchedule }}
                    </td>
                    <td class="border px-2 py-1">
                      {{ po.paymentTerms }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="overflow-x-auto" *ngIf="!loading">
              <table class="min-w-full border text-xs">
                <thead class="bg-gray-100">
                  <tr>
                    <th class="border px-2 py-1">LN#</th>
                    <th class="border px-2 py-1">QTY</th>
                    <th class="border px-2 py-1">UNIT</th>
                    <th class="border px-2 py-1">DESCRIPTION</th>
                    <th class="border px-2 py-1">MFR/MODEL</th>
                    <th class="border px-2 py-1">PART #</th>
                    <th class="border px-2 py-1">TERMS</th>
                    <th class="border px-2 py-1">TRACEABILITY REQUIREMENT</th>
                    <th class="border px-2 py-1">UNIT PRICE ($)</th>
                    <th class="border px-2 py-1">ACTUAL COST PER UNIT ($)</th>
                    <th class="border px-2 py-1">TOTAL ($)</th>
                    <th class="border px-2 py-1">STATUS</th>
                    <th class="border px-3 py-2">ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of productItems; let i = index">
                    <td class="border px-2 py-1">
                      {{ i + 1 }}
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container *ngIf="editingIndex === i; else readQty">
                        <input
                          type="number"
                          [(ngModel)]="item.quantity"
                          class="border rounded px-2 py-1 w-16"
                        />
                      </ng-container>
                      <ng-template #readQty>{{ item.quantity }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container *ngIf="editingIndex === i; else readUnit">
                        <input
                          [(ngModel)]="item.unit"
                          class="border rounded px-2 py-1 w-16"
                        />
                      </ng-container>
                      <ng-template #readUnit>{{ item.unit }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container *ngIf="editingIndex === i; else readDesc">
                        <input
                          [(ngModel)]="item.description"
                          class="border rounded px-2 py-1 w-32"
                        />
                      </ng-container>
                      <ng-template #readDesc>{{
                        item.description
                      }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container *ngIf="editingIndex === i; else readModel">
                        <input
                          [(ngModel)]="item.manufacturerModel"
                          class="border rounded px-2 py-1 w-24"
                        />
                      </ng-container>
                      <ng-template #readModel>{{
                        item.manufacturerModel
                      }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container *ngIf="editingIndex === i; else readPart">
                        <input
                          [(ngModel)]="item.partNumber"
                          class="border rounded px-2 py-1 w-24"
                        />
                      </ng-container>
                      <ng-template #readPart>{{ item.partNumber }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container *ngIf="editingIndex === i; else readTerms">
                        <input
                          [(ngModel)]="item.terms"
                          class="border rounded px-2 py-1 w-24"
                        />
                      </ng-container>
                      <ng-template #readTerms>{{ item.terms }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container *ngIf="editingIndex === i; else readTrace">
                        <input
                          [(ngModel)]="item.traceabilityRequired"
                          class="border rounded px-2 py-1 w-24"
                        />
                      </ng-container>
                      <ng-template #readTrace>{{
                        item.traceabilityRequired
                      }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container
                        *ngIf="editingIndex === i; else readUnitPrice"
                      >
                        <input
                          type="number"
                          [(ngModel)]="item.unitPrice"
                          class="border rounded px-2 py-1 w-20"
                        />
                      </ng-container>
                      <ng-template #readUnitPrice>{{
                        item.unitPrice
                      }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      <ng-container
                        *ngIf="editingIndex === i; else actualUnitCost"
                      >
                        <input
                          type="number"
                          [(ngModel)]="item.actualCostPerUnit"
                          class="border rounded px-2 py-1 w-20"
                        />
                      </ng-container>
                      <ng-template #actualUnitCost>{{
                        item.actualCostPerUnit
                      }}</ng-template>
                    </td>
                    <td class="border px-2 py-1">
                      {{ item.totalPrice }}
                    </td>
                    <td class="border px-2 py-1 font-semibold">
                      {{ item.itemStatus?.statusName }}
                    </td>
                    <td class="border px-3 py-2">
                      <div class="flex items-center space-x-2">
                        <ng-container
                          *ngIf="editingIndex === i; else actionBtns"
                        >
                          <button
                            (click)="saveItem(item); cancelEdit()"
                            class="bg-green-500 text-white px-2 py-1 rounded"
                          >
                            Save
                          </button>
                          <button
                            (click)="cancelEdit()"
                            class="bg-gray-500 text-white px-2 py-1 rounded"
                          >
                            Cancel
                          </button>
                        </ng-container>
                        <ng-template #actionBtns>
                          <button
                            (click)="editItem(i)"
                            class="bg-green-500 text-white px-2 py-1 rounded"
                          >
                            Edit
                          </button>
                          <!-- <button
                            (click)="deleteItem(item)"
                            class="bg-red-500 text-white px-2 py-1 rounded"
                          >
                            Delete
                          </button> -->
                        </ng-template>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="productItems?.length === 0">
                    <td
                      colspan="12"
                      class="border px-2 py-1 text-center text-gray-500"
                    >
                      No items found
                    </td>
                  </tr>
                </tbody>
                <tr>
                  <td
                    colspan="11"
                    class="border px-2 py-1 text-right font-semibold"
                  >
                    SUB TOTAL
                  </td>
                  <td class="border px-2 py-1">
                    {{ subTotal | currency: "USD" }}
                  </td>
                </tr>
                <tr>
                  <td
                    colspan="11"
                    class="border px-2 py-1 text-right font-semibold"
                  >
                    DISCOUNT
                  </td>
                  <td class="border px-2 py-1">
                    {{ po.discount | currency: "USD" }}
                  </td>
                </tr>
                <tr>
                  <td
                    colspan="11"
                    class="border px-2 py-1 text-right font-semibold"
                  >
                    FREIGHT /SHIPPING
                  </td>
                  <td class="border px-2 py-1">
                    {{ po.shippingCharges | currency: "USD" }}
                  </td>
                </tr>
                <!-- <tr>
                  <td
                    colspan="11"
                    class="border px-2 py-1 text-right font-semibold"
                  >
                    CUSTOM FEE /TAX
                  </td>
                  <td class="border px-2 py-1"></td>
                </tr> -->
                <tr>
                  <td
                    colspan="11"
                    class="border px-2 py-1 text-right font-semibold"
                  >
                    TOTAL AMOUNT
                  </td>
                  <td class="border px-2 py-1">
                    {{ total | currency: "USD" }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="loading">
          <p class="px-2 py-1 text-center text-gray-500">
            <span>Loading </span>
            <span class="loading-dots">
              <span class="dot">.</span>
              <span class="dot">.</span>
              <span class="dot">.</span>
            </span>
          </p>
        </div>
        <div class="flex items-center p-6 space-x-2 rounded-b">
          <button
            type="button"
            class="text-gray-700 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
            (click)="closeModel()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
