<div class="overflow-x-auto m-5 border border-gray-300 p-3 rounded-lg">
  <div (click)="closeModel()" class="cursor-pointer">
    <p class="text-4xl font-bold mb-4 text-gray-400">Create Purchase Order</p>
    <form [formGroup]="poForm">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        <div>
          <label class="block text-gray-700">Purchase Order #</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter po number"
            formControlName="poNumber"
          />
        </div>
        <div>
          <label class="block text-gray-700">Supplier/Quote Ref #</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter supplier/quote ref"
            formControlName="supplier"
          />
        </div>
        <div>
          <label class="block text-gray-700">Customer Name</label>
          <select
            id="customerName"
            name="customerName"
            formControlName="customerId"
            class="block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          >
            <option [value]="null" disabled selected>Select customer</option>
            <option
              *ngFor="let customer of customers"
              [value]="customer.customerId"
            >
              {{ customer.customerName }}
            </option>
          </select>
        </div>
        <div>
          <label class="block text-gray-700">Order Date</label>
          <input
            type="date"
            id="orderDate"
            name="orderDate"
            formControlName="orderDate"
            class="block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>
        <div>
          <label class="block text-gray-700">PO Amount</label>
          <input
            type="number"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter total amount"
            formControlName="totalAmount"
          />
        </div>
        <div>
          <label class="block text-gray-700">PO Cost</label>
          <input
            type="number"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter total cost"
            formControlName="totalCost"
          />
        </div>
        <div>
          <label class="block text-gray-700">Description</label>
          <textarea
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter description"
            formControlName="description"
          ></textarea>
        </div>
        <div>
          <label class="block text-gray-700">Destination</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter Destination"
            formControlName="destination"
          />
        </div>
        <div>
          <label class="block text-gray-700">Payment Terms</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter terms"
            formControlName="paymentTerms"
          />
        </div>
        <div>
          <label class="block text-gray-700">Delivery Terms</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter delivery terms"
            formControlName="deliveryTerms"
          />
        </div>
        <div>
          <label class="block text-gray-700">Mode of Shipment</label>
          <select
            class="w-full px-3 py-2 border rounded"
            formControlName="modeOfShipment"
          >
            <option value="" disabled selected>Select mode of shipment</option>
            <option value="Air">Air</option>
            <option value="Sea">Sea</option>
            <option value="Land">Land</option>
          </select>
        </div>
        <div>
          <label class="block text-gray-700">Freight /Shipping charges</label>
          <input
            type="number"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter charges"
            formControlName="shippingCharges"
          />
        </div>
        <div>
          <label class="block text-gray-700">Discount</label>
          <input
            type="number"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter discount"
            formControlName="discount"
          />
        </div>
      </div>
      <div class="mt-6 flex" (click)="$event.stopPropagation()">
        <button
          type="button"
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
          (click)="showAddItem = true"
        >
          Add PO Items
        </button>
      </div>
      <div
        *ngIf="sortedData2.data.length > 0"
        class="max-w-full max-h-96 overflow-auto mt-5 p-7 border border-gray-200 rounded-lg"
      >
        <table mat-table class="mat-elevation-z8" [dataSource]="sortedData2">
          <ng-container matColumnDef="itemId">
            <th mat-header-cell *matHeaderCellDef>Item ID</th>
            <td mat-cell *matCellDef="let element">
              {{ element.itemId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="poId">
            <th mat-header-cell *matHeaderCellDef>PO Id</th>
            <td mat-cell *matCellDef="let element">
              {{ element.poId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="lineNumber">
            <th mat-header-cell *matHeaderCellDef>Line Number</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lineNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="manufacturerModel">
            <th mat-header-cell *matHeaderCellDef>Manufacturer Model</th>
            <td mat-cell *matCellDef="let element">
              {{ element.manufacturerModel }}
            </td>
          </ng-container>

          <ng-container matColumnDef="partNumber">
            <th mat-header-cell *matHeaderCellDef>Part Number</th>
            <td mat-cell *matCellDef="let element">
              {{ element.partNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">
              {{ element.quantity }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actualCostPerUnit">
            <th mat-header-cell *matHeaderCellDef>Actual Cost</th>
            <td mat-cell *matCellDef="let element">
              {{ element.actualCostPerUnit | currency : "USD" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef>Unit Price</th>
            <td mat-cell *matCellDef="let element">
              {{ element.unitPrice | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Total Price</th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalPrice | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Unit</th>
            <td mat-cell *matCellDef="let element">
              {{ element.unit }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                (click)="$event.stopPropagation()"
                (click)="removeSelectedItem(element)"
                type="button"
                class="bg-transparent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="w-6 h-6 fill-red-400 hover:fill-red-600"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsSecond"></tr>

          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumnsSecond"
            class="example-element-row"
          ></tr>
        </table>
      </div>
      <div class="mt-6 flex justify-center gap-3">
        <button
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 disabled:bg-green-300 disabled:cursor-not-allowed flex items-center justify-center gap-2"
          [disabled]="
            poForm.invalid || sortedData2.data.length === 0 || isLoading
          "
          (click)="createPO()"
          type="button"
        >
          <svg
            *ngIf="isLoading"
            class="animate-spin h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
            ></path>
          </svg>
          <span *ngIf="!isLoading">Submit</span>
          <span *ngIf="isLoading">Submitting...</span>
        </button>
        <button
          (click)="clear()"
          class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
          type="button"
        >
          Clear
        </button>
      </div>
      <section
        *ngIf="showAddItem"
        class="fixed flex items-center justify-center bg-gray-400/30 top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto sm:inset-0 h-[calc(100%-1rem)] md:h-full scrollbar-hide"
      >
        <div
          (click)="$event.stopPropagation()"
          class="w-[80%] h-[70%] overflow-auto bg-white rounded-lg shadow relative p-6"
        >
          <div class="flex gap-2 mb-4">
            <button
              (click)="addNewItem = true; addExisting = false"
              [disabled]="addNewItem"
              class="bg-green-500 text-white px-4 py-2 rounded mb-4 disabled:bg-green-300 disabled:cursor-not-allowed"
              type="button"
            >
              Add New Item
            </button>
            <button
              (click)="addExisting = true; addNewItem = false"
              [disabled]="addExisting"
              class="bg-green-500 text-white px-4 py-2 rounded mb-4 disabled:bg-green-300 disabled:cursor-not-allowed"
              type="button"
            >
              Add From Existing PO
            </button>
          </div>

          <form [formGroup]="newPoItem">
            <div *ngIf="addNewItem">
              <div class="grid grid-cols-4 gap-4 mb-4">
                <div class="flex flex-col">
                  <label for="">Quantity</label>
                  <input
                    formControlName="quantity"
                    type="number"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Unit</label>
                  <input
                    formControlName="unit"
                    type="text"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Description</label>
                  <input
                    formControlName="description"
                    type="text"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Unit Price</label>
                  <input
                    formControlName="unitPrice"
                    type="number"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Actual Cost Per Unit</label>
                  <input
                    formControlName="actualCostPerUnit"
                    type="number"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Total Price </label>
                  <input
                    formControlName="totalPrice"
                    type="number"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Part #</label>
                  <input
                    formControlName="partNumber"
                    type="text"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Trace</label>
                  <select
                    formControlName="traceabilityRequired"
                    class="px-2 py-2 border-2 rounded-sm"
                    name="trace"
                    id=""
                  >
                    <option [value]="0" disabled selected>Select trace</option>
                    <option [value]="1">yes</option>
                    <option [value]="0">no</option>
                  </select>
                </div>
                <div class="flex flex-col">
                  <label for="">Manufacturer Model</label>
                  <input
                    formControlName="manufacturerModel"
                    type="text"
                    class="border rounded px-2 py-2"
                  />
                </div>
                <div class="flex flex-col">
                  <label for="">Terms</label>
                  <input
                    formControlName="terms"
                    type="text"
                    class="border rounded px-2 py-2"
                  />
                </div>
              </div>
              <div class="w-[20%] flex gap-2 items-end">
                <button
                  (click)="addItem()"
                  [disabled]="newPoItem.invalid"
                  class="bg-green-500 disabled:bg-green-200 disabled:cursor-not-allowed text-white px-4 py-2 rounded mt-6"
                  type="button"
                >
                  Add Item
                </button>
                <button
                  (click)="closeModel()"
                  class="bg-gray-500 text-white px-4 py-2 rounded mt-6"
                  type="button"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>

          <div *ngIf="addExisting">
            <div class="flex justify-center items-end gap-3">
              <div class="w-2/3">
                <form [formGroup]="poId">
                  <label class="block text-gray-700">Select Po</label>
                  <select
                    class="w-full px-3 py-2 border rounded"
                    formControlName="poId"
                  >
                    <option [value]="null" disabled selected>Select PO</option>

                    <option *ngFor="let po of poList" [value]="po.id">
                      {{ po.poNumber }}
                    </option>
                  </select>
                </form>
              </div>
              <div>
                <button
                  class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 disabled:bg-green-300 disabled:cursor-not-allowed"
                  (click)="getPO()"
                  [disabled]="poId.invalid"
                  type="button"
                >
                  Get Po
                </button>
              </div>
            </div>
            <div
              class="max-w-full max-h-96 overflow-auto mt-5 p-7 border border-gray-200 rounded-lg"
            >
              <table
                mat-table
                class="mat-elevation-z8"
                [dataSource]="sortedData1"
                (matSortChange)="sortData($event)"
                matSort
                #matSort="matSort"
              >
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      (change)="$event ? masterToggle() : null"
                      [checked]="isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>
                <ng-container matColumnDef="selectedQuantity">
                  <th mat-header-cell *matHeaderCellDef>Select Qty</th>
                  <td mat-cell *matCellDef="let element">
                    <input
                      type="number"
                      [value]="element.selectedQuantity"
                      (change)="updateSelectionQuantity(element, $event)"
                      min="0"
                      [max]="element.quantity"
                      class="w-20 px-2 py-1 border rounded text-center"
                      (click)="$event.stopPropagation()"
                    />
                  </td>
                </ng-container>

                <ng-container matColumnDef="itemId">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="itemId"
                  >
                    Item ID
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.itemId }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="poId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="poId">
                    PO Id
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.poId }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="lineNumber">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="lineNumber"
                  >
                    Line Number
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.lineNumber }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="manufacturerModel">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="manufacturerModel"
                  >
                    Manufacturer Model
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.manufacturerModel }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="partNumber">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="partNumber"
                  >
                    Part Number
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.partNumber }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="quantity"
                  >
                    Available Qty
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.quantity }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actualCostPerUnit">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="actualCostPerUnit"
                  >
                    Actual Cost
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.actualCostPerUnit | currency : "USD" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="unitPrice">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="unitPrice"
                  >
                    Unit Price
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.unitPrice | currency : "USD" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="totalPrice">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="totalPrice"
                  >
                    Total Price
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.totalPrice | currency : "USD" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="description"
                  >
                    Description
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.description }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="unit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="unit">
                    Unit
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.unit }}
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumnsFirst"
                ></tr>

                <tr
                  mat-row
                  *matRowDef="let element; columns: displayedColumnsFirst"
                  class="example-element-row"
                ></tr>
              </table>
              <div
                *ngIf="sortedData1.data.length === 0 && !loading && poId.valid"
                class="text-center mt-4"
              >
                <p>No items found for the selected PO.</p>
              </div>
              <div *ngIf="loading" class="text-center mt-4">
                <p>Loading...</p>
              </div>
            </div>
            <div class="mt-6 flex justify-end">
              <button
                (click)="closeModel()"
                class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 disabled:bg-green-300 disabled:cursor-not-allowed"
                [disabled]="selection.selected.length === 0"
                type="button"
              >
                Add Selected Item to New Po
              </button>
            </div>
          </div>
        </div>
      </section>
    </form>
      
  </div>
</div>
