<div class="overflow-x-auto m-5 border border-gray-300 p-3 rounded-lg">
  <div>
    <p class="text-4xl font-bold mb-4 text-gray-400">Create Purchase Order</p>
    <form [formGroup]="poForm">
      <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-gray-700">Customer Name</label>
          <select
            id="customerName"
            name="customerName"
            formControlName="customerId"
            class="block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          >
            <option value="null" disabled selected>Select customer</option>
            <option
              *ngFor="let customer of customers"
              [value]="customer.customerId"
            >
              {{ customer.customerName }}
            </option>
          </select>
        </div>
        <div>
          <label class="block text-gray-700">Order Date</label>
          <input
            type="date"
            id="orderDate"
            name="orderDate"
            formControlName="orderDate"
            class="block w-full border border-gray-300 rounded-lg p-2.5 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>
        <div>
          <label class="block text-gray-700">Po Number</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter po number"
          />
        </div>
        <div>
          <label class="block text-gray-700">Mode of Shipment</label>
          <select class="w-full px-3 py-2 border rounded">
            <option value="" disabled selected>Select mode of shipment</option>
            <option value="Air">Air</option>
            <option value="Sea">Sea</option>
            <option value="Land">Land</option>
          </select>
        </div>
      </div>
      <div class="flex items-end justify-between mt-4">
        <div class="flex-1 mr-4">
          <label class="block text-gray-700">Select Po</label>
          <select class="w-full px-3 py-2 border rounded">
            <option value="" disabled selected>Select Po</option>
            <option value="Air">PO 1</option>
            <option value="Sea">PO 2</option>
            <option value="Land">PO 3</option>
          </select>
        </div>
        <div>
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >
            Get Po
          </button>
        </div>
      </div>

      <div
        class="max-w-full max-h-96 overflow-auto mt-5 p-7 border border-gray-200 rounded-lg"
      >
        <table
          mat-table
          class="mat-elevation-z8"
          [dataSource]="sortedData"
          (matSortChange)="sortData($event)"
          matSort
          #empTbSort="matSort"
        >
          <!-- Select Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Other columns -->
          <ng-container matColumnDef="poNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="poNumber">
              #PO
            </th>
            <td mat-cell *matCellDef="let element">{{ element.poNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="customerName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="customerName"
            >
              Customer Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.customer.customerName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="orderDate">
              Order Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.orderDate | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="modeOfShipment">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="modeOfShipment"
            >
              Mode of Shipment
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.modeOfShipment }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalCost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="totalCost">
              Total Cost
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalCost | currency : "USD" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="totalAmount">
              Total Amount
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalAmount | currency : "USD" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="description">
              Description
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="createdBy">
              Created By
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.user.fullName }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                (click)="$event.stopPropagation()"
                type="button"
                class="bg-transparent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="w-6 h-6 fill-red-400 hover:fill-red-600"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </td>
          </ng-container>

          <!-- Header row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsFirst"></tr>

          <!-- Data rows -->
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumnsFirst"
            class="example-element-row"
          ></tr>
        </table>
      </div>
      <div class="mt-6 flex justify-end">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >
          Add Selected Item to New Po
        </button>
      </div>
      <div>
        <p class="text-xl">New PO Item</p>
      </div>
      <div
        class="max-w-full max-h-96 overflow-auto mt-5 p-7 border border-gray-200 rounded-lg"
      >
        <table
          mat-table
          class="mat-elevation-z8"
          [dataSource]="sortedData"
          (matSortChange)="sortData($event)"
          matSort
          #empTbSort="matSort"
        >
          <!-- Select Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Other columns -->
          <ng-container matColumnDef="poNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="poNumber">
              #PO
            </th>
            <td mat-cell *matCellDef="let element">{{ element.poNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="customerName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="customerName"
            >
              Customer Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.customer.customerName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="orderDate">
              Order Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.orderDate | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="modeOfShipment">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="modeOfShipment"
            >
              Mode of Shipment
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.modeOfShipment }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalCost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="totalCost">
              Total Cost
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalCost | currency : "USD" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="totalAmount">
              Total Amount
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.totalAmount | currency : "USD" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="description">
              Description
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="createdBy">
              Created By
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.user.fullName }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                (click)="$event.stopPropagation()"
                type="button"
                class="bg-transparent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="w-6 h-6 fill-red-400 hover:fill-red-600"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </td>
          </ng-container>

          <!-- Header row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSecond"></tr>

          <!-- Data rows -->
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumnsSecond"
            class="example-element-row"
          ></tr>
        </table>
      </div>
      <div class="flex gap-3">
        <div class="mt-6">
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >
            Submit New PO
          </button>
        </div>
        <div class="mt-6">
          <button
            type="submit"
            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
