<div class="overflow-x-auto m-5 border border-gray-300 p-3 rounded-lg">
  <div>
    <p class="text-4xl font-bold mb-4 text-gray-400">Create Purchase Order</p>
    <form>
      <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-gray-700">Customer Name</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter customer name"
          />
        </div>
        <div>
          <label class="block text-gray-700">Order Date</label>
          <input
            type="date"
            class="w-full px-3 py-2 border rounded"
            placeholder="Select order date"
          />
        </div>
        <div>
          <label class="block text-gray-700">Po Number</label>
          <input
            type="text"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter po number"
          />
        </div>
        <div>
          <label class="block text-gray-700">Mode of Shipment</label>
          <select class="w-full px-3 py-2 border rounded">
            <option value="" disabled selected>Select mode of shipment</option>
            <option value="Air">Air</option>
            <option value="Sea">Sea</option>
            <option value="Land">Land</option>
          </select>
        </div>
      </div>
      <div class="flex items-end justify-between mt-4">
        <div class="flex-1 mr-4">
          <label class="block text-gray-700">Select Po</label>
          <select class="w-full px-3 py-2 border rounded">
            <option value="" disabled selected>Select Po</option>
            <option value="Air">PO 1</option>
            <option value="Sea">PO 2</option>
            <option value="Land">PO 3</option>
          </select>
        </div>
        <div>
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >
            Get Po
          </button>
        </div>
      </div>

      <div
        class="max-w-full overflow-auto mt-5 p-7 border border-gray-200 rounded-lg"
      >
        <table
          mat-table
          class="mat-elevation-z8"
          [dataSource]="sortedData"
          (matSortChange)="sortData($event)"
          matSort
          #empTbSort="matSort"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Select Item</th>
            <td mat-cell *matCellDef="let element">
              <select
                class="px-2 py-1 border rounded"
                name="selectedItem-{{ element.po }}"
              >
                <option value="" disabled selected>Select Item</option>
                <option *ngFor="let item of element.items" [value]="item">
                  {{ item }}
                </option>
              </select>
            </td>
          </ng-container>
          <ng-container matColumnDef="po">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="po">PO</th>
            <td mat-cell *matCellDef="let element">{{ element.po }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="date">
              DATE
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.date | date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="lin">LIN</th>
            <td mat-cell *matCellDef="let element">{{ element.lin }}</td>
          </ng-container>
          <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ref">Ref</th>
            <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
          </ng-container>
          <ng-container matColumnDef="qunty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="225">225</th>
            <td mat-cell *matCellDef="let element">{{ element.qunty }}</td>
          </ng-container>
          <ng-container matColumnDef="sh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="sh">SH</th>
            <td mat-cell *matCellDef="let element">{{ element.sh }}</td>
          </ng-container>
          <ng-container matColumnDef="bo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="bo">BO</th>
            <td mat-cell *matCellDef="let element">{{ element.bo }}</td>
          </ng-container>
          <ng-container matColumnDef="ui">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ui">UI</th>
            <td mat-cell *matCellDef="let element">{{ element.ui }}</td>
          </ng-container>
          <ng-container matColumnDef="manufacturer">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="manufacturer"
            >
              Manufacturer
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.manufacturer }}
            </td>
          </ng-container>
          <ng-container matColumnDef="partNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="partNumber">
              PART #
            </th>
            <td mat-cell *matCellDef="let element">{{ element.partNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="description">
              DESCRIPTION
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="quoteNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="quoteNumber">
              QUOTE #
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.quoteNumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="vendorPo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="vendorPo">
              VENDOR /PO#
            </th>
            <td mat-cell *matCellDef="let element">{{ element.vendorPo }}</td>
          </ng-container>
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="comment">
              COMMENT
            </th>
            <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
          </ng-container>
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="remarks">
              REMARKS
            </th>
            <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
          </ng-container>
          <ng-container matColumnDef="shippingRef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="shippingRef">
              SHIPPING REF:
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.shippingRef }}
            </td>
          </ng-container>
          <ng-container matColumnDef="coo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="coo">COO</th>
            <td mat-cell *matCellDef="let element">{{ element.coo }}</td>
          </ng-container>
          <ng-container matColumnDef="hsCord">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="hsCord">
              HS CORD
            </th>
            <td mat-cell *matCellDef="let element">{{ element.hsCord }}</td>
          </ng-container>
          <ng-container matColumnDef="poValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="poValue">
              PO VALUE
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.poValue | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="epoValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="epoValue">
              E-PO VALUE
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.epoValue | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="cost">
              COST
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.cost | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="ecost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ecost">
              E-Cost
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.ecost | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="wr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="wr">WR</th>
            <td mat-cell *matCellDef="let element">{{ element.wr }}</td>
          </ng-container>
          <ng-container matColumnDef="tracking">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="tracking">
              TRACKING
            </th>
            <td mat-cell *matCellDef="let element">{{ element.tracking }}</td>
          </ng-container>
          <ng-container matColumnDef="shipToLoc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="shipToLoc">
              SHIP TO LOC
            </th>
            <td mat-cell *matCellDef="let element">{{ element.shipToLoc }}</td>
          </ng-container>
          <ng-container matColumnDef="ci">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ci">CI</th>
            <td mat-cell *matCellDef="let element">{{ element.ci }}</td>
          </ng-container>
          <ng-container matColumnDef="awb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="awb">AWB</th>
            <td mat-cell *matCellDef="let element">{{ element.awb }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </table>
      </div>
      <div class="mt-6 flex justify-end">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >
          Add Selected Item to New Po
        </button>
      </div>
      <div>
        <p class="text-xl">New PO Item</p>
      </div>
      <div
        class="max-w-full overflow-auto mt-5 p-7 border border-gray-200 rounded-lg"
      >
        <table
          mat-table
          class="mat-elevation-z8"
          [dataSource]="sortedData"
          (matSortChange)="sortData($event)"
          matSort
          #empTbSort="matSort"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Select Item</th>
            <td mat-cell *matCellDef="let element">
              <select
                class="px-2 py-1 border rounded"
                name="selectedItem-{{ element.po }}"
              >
                <option value="" disabled selected>Select Item</option>
                <option *ngFor="let item of element.items" [value]="item">
                  {{ item }}
                </option>
              </select>
            </td>
          </ng-container>
          <ng-container matColumnDef="po">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="po">PO</th>
            <td mat-cell *matCellDef="let element">{{ element.po }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="date">
              DATE
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.date | date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="lin">LIN</th>
            <td mat-cell *matCellDef="let element">{{ element.lin }}</td>
          </ng-container>
          <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ref">Ref</th>
            <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
          </ng-container>
          <ng-container matColumnDef="qunty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="225">225</th>
            <td mat-cell *matCellDef="let element">{{ element.qunty }}</td>
          </ng-container>
          <ng-container matColumnDef="sh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="sh">SH</th>
            <td mat-cell *matCellDef="let element">{{ element.sh }}</td>
          </ng-container>
          <ng-container matColumnDef="bo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="bo">BO</th>
            <td mat-cell *matCellDef="let element">{{ element.bo }}</td>
          </ng-container>
          <ng-container matColumnDef="ui">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ui">UI</th>
            <td mat-cell *matCellDef="let element">{{ element.ui }}</td>
          </ng-container>
          <ng-container matColumnDef="manufacturer">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="manufacturer"
            >
              Manufacturer
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.manufacturer }}
            </td>
          </ng-container>
          <ng-container matColumnDef="partNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="partNumber">
              PART #
            </th>
            <td mat-cell *matCellDef="let element">{{ element.partNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="description">
              DESCRIPTION
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="quoteNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="quoteNumber">
              QUOTE #
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.quoteNumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="vendorPo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="vendorPo">
              VENDOR /PO#
            </th>
            <td mat-cell *matCellDef="let element">{{ element.vendorPo }}</td>
          </ng-container>
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="comment">
              COMMENT
            </th>
            <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
          </ng-container>
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="remarks">
              REMARKS
            </th>
            <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
          </ng-container>
          <ng-container matColumnDef="shippingRef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="shippingRef">
              SHIPPING REF:
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.shippingRef }}
            </td>
          </ng-container>
          <ng-container matColumnDef="coo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="coo">COO</th>
            <td mat-cell *matCellDef="let element">{{ element.coo }}</td>
          </ng-container>
          <ng-container matColumnDef="hsCord">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="hsCord">
              HS CORD
            </th>
            <td mat-cell *matCellDef="let element">{{ element.hsCord }}</td>
          </ng-container>
          <ng-container matColumnDef="poValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="poValue">
              PO VALUE
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.poValue | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="epoValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="epoValue">
              E-PO VALUE
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.epoValue | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="cost">
              COST
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.cost | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="ecost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ecost">
              E-Cost
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.ecost | currency : "USD" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="wr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="wr">WR</th>
            <td mat-cell *matCellDef="let element">{{ element.wr }}</td>
          </ng-container>
          <ng-container matColumnDef="tracking">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="tracking">
              TRACKING
            </th>
            <td mat-cell *matCellDef="let element">{{ element.tracking }}</td>
          </ng-container>
          <ng-container matColumnDef="shipToLoc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="shipToLoc">
              SHIP TO LOC
            </th>
            <td mat-cell *matCellDef="let element">{{ element.shipToLoc }}</td>
          </ng-container>
          <ng-container matColumnDef="ci">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="ci">CI</th>
            <td mat-cell *matCellDef="let element">{{ element.ci }}</td>
          </ng-container>
          <ng-container matColumnDef="awb">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="awb">AWB</th>
            <td mat-cell *matCellDef="let element">{{ element.awb }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        </table>
      </div>
      <div class="flex gap-3">
        <div class="mt-6">
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >
            Submit New PO
          </button>
        </div>
        <div class="mt-6">
          <button
            type="submit"
            class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
