<section
  class="fixed flex items-center justify-center print:bg-white bg-gray-400/30 top-0 left-0 right-0 z-50 w-full p-4 print:p-0 overflow-hidden sm:inset-0 h-[calc(100%-1rem)] md:h-full"
  (click)="closeModel()"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative w-full max-w-6xl max-h-[90vh] print:w-full print:h-full overflow-y-auto"
  >
    <div
      *ngIf="!finalInvoiceData"
      class="flex items-center justify-center py-10 px-5 mr-2 shadow-md font-medium text-black"
    >
      <svg
        aria-hidden="true"
        role="status"
        class="inline w-4 h-4 mr-3 text-gray-200 animate-spin"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="#1C64F2"
        />
      </svg>
      Loading Report...
    </div>
    <div
      *ngIf="finalInvoiceData"
      class="p-8 bg-white rounded-none border-none text-gray-900 font-[Arial] leading-tight"
      style="font-size: 10pt"
    >
      <div class="flex gap-2 print:hidden">
        <button
          (click)="printCommercialInvoice()"
          type="button"
          class="px-6 py-2 print:hidden mb-2 bg-blue-600 text-white font-semibold rounded-md shadow-md print:shadow-none hover:bg-blue-700"
        >
          Print
        </button>
        <div class="flex gap-2" *ngIf="proformaDetails.status == 'Pending'">
          <button
            *ngIf="!isUpdating"
            (click)="
              updateStatus(
                finalInvoiceData.proformaId,
                finalInvoiceData.purchaseOrderId
              )
            "
            type="button"
            class="px-6 py-2 print:hidden mb-2 bg-blue-600 text-white font-semibold rounded-md shadow-md print:shadow-none hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
          >
            Update Status -> Complete
          </button>
          <button
            *ngIf="isUpdating"
            type="button"
            class="px-6 py-2 print:hidden mb-2 bg-blue-600 text-white font-semibold rounded-md shadow-md print:shadow-none hover:bg-blue-700"
          >
            Updating ...
          </button>
        </div>
        <button
          (click)="deleteProformaButton = !deleteProformaButton"
          type="button"
          class="px-6 py-2 print:hidden mb-2 bg-red-600 text-white font-semibold rounded-md shadow-md print:shadow-none hover:bg-red-700"
        >
          Delete
        </button>
      </div>

      <!-- HEADER -->
      <div class="grid grid-cols-3 justify-between mb-4 print:gap-2">
        <div class="flex flex-col gap-x-3">
          <span
            class="text-lg print:text-base font-semibold px-1 text-[#a5b98b]"
          >
            {{ sellerDetails.sellerName }}
          </span>
          <span class="font-semibold text-sm px-1">
            {{ sellerDetails.sellerAddress }}
          </span>
          <span class="font-semibold text-sm px-1">
            DATE - {{ finalInvoiceData.createdAt | date: "dd/MMM/yy" }}
          </span>
          <span class="font-semibold text-sm px-1">
            Phone: {{ sellerDetails.sellerPhone }}
          </span>
          <span class="font-semibold text-sm px-1">
            Fax: {{ sellerDetails.sellerFax }}
          </span>
        </div>

        <div class="w-80 print:w-60 h-52 flex print:h-40">
          <img class="w-full h-full mb-5" src="companyLogo.png" />
        </div>

        <div class="flex flex-col">
          <span class="text-lg font-semibold px-1 text-[#a5b98b]">
            PRO FORMA INVOICE
          </span>
          <table class="w-64 border-collapse border text-sm">
            <tbody>
              <tr>
                <td class="p-1 border font-semibold">Date</td>
                <td class="p-1 border text-right">
                  {{ finalInvoiceData.createdAt | date: "dd-MMM-yy" }}
                </td>
              </tr>
              <tr>
                <td class="p-1 border font-semibold">PO#</td>
                <td class="p-1 border text-right">
                  {{ finalInvoiceData.poNumber }}
                </td>
              </tr>
              <tr>
                <td class="p-1 border font-semibold">Proforma Number</td>
                <td class="p-1 border text-right">
                  {{ finalInvoiceData.proformaNumber }}
                </td>
              </tr>
              <tr>
                <td class="p-1 border font-semibold">Customer ID</td>
                <td class="p-1 border text-right">
                  {{ finalInvoiceData.customerId }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- CUSTOMER / SHIPPING -->
      <div class="grid grid-cols-3 gap-4 mb-4 text-sm py-2">
        <div>
          <p class="text-lg font-semibold px-1 text-white bg-[#a5b98b]">
            CUSTOMER
          </p>
          <div class="whitespace-pre-wrap">
            <p class="font-semibold">
              {{ customerDetails?.name }}
            </p>
            <p>{{ getCustomerAddress(finalInvoiceData.customerAddressId) }}</p>
            <p>Phone#: {{ customerDetails?.phone }}</p>
          </div>
        </div>

        <div>
          <p class="text-lg font-semibold px-1 text-white bg-[#a5b98b]">
            SHIP TO
          </p>
          <div class="whitespace-pre-wrap">
            <p class="font-semibold">
              {{ customerDetails?.name }}
            </p>
            <p>{{ getCustomerAddress(finalInvoiceData.shipToId) }}</p>
          </div>
        </div>

        <div>
          <p class="text-lg font-semibold px-1 text-white bg-[#a5b98b]">
            SHIPPING DETAILS
          </p>
          <div class="whitespace-pre-wrap">
            <p>Freight Type: {{ finalInvoiceData.freightType }}</p>
            <p>
              Est Ship Date:
              {{ finalInvoiceData.estimatedShipDate | date: "dd-MMM-yy" }}
            </p>
          </div>
        </div>
      </div>

      <!-- ITEMS TABLE -->
      <div class="border rounded-lg overflow-hidden mb-4">
        <table class="min-w-full divide-y text-sm">
          <thead class="bg-[#a5b98b]">
            <tr>
              <th class="p-1 text-left font-bold text-white border-r">LN#</th>
              <th class="p-1 text-left font-bold text-white border-r">
                PART NUMBER
              </th>
              <th class="p-1 text-left font-bold text-white border-r">UI</th>
              <th class="p-1 text-left font-bold text-white border-r">
                DESCRIPTION
              </th>
              <th class="p-1 text-left font-bold text-white border-r">QTY</th>
              <th class="p-1 text-left font-bold text-white border-r">
                UNIT PRICE
              </th>
              <th class="p-1 text-right font-bold text-white">E-PRICE</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let item of finalInvoiceData.proformaItems; let i = index"
            >
              <td class="p-1 border">{{ i + 1 }}</td>
              <td class="p-1 border">{{ item.partNumber }}</td>
              <td class="p-1 border">{{ item.unit }}</td>
              <td class="p-1 border font-medium">
                {{ item.description }}
              </td>
              <td class="p-1 border text-right">{{ item.quantity }}</td>
              <td class="p-1 border text-right">
                {{ item.unitPrice }}
              </td>
              <td class="p-1 border text-right font-semibold">
                {{ item.totalPrice }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TOTAL -->
      <div class="flex gap-3 justify-end">
        <div class="w-1/3">
          <table class="w-full border text-sm">
            <tr>
              <td class="p-1 border font-semibold">TOTAL</td>
              <td class="p-1 border text-right font-bold">
                {{ finalInvoiceData.totalAmount }}
              </td>
            </tr>
            <tr>
              <td class="p-1 border font-semibold">Currency</td>
              <td class="p-1 border text-right">
                {{ finalInvoiceData.currencyCode }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- SIGNATURE -->
      <div class="flex justify-end text-sm mt-8">
        <div class="w-1/3 text-center mr-8">
          <div class="border-b pt-1 mb-1">Tony Joseph</div>
          <div class="text-xs text-gray-500">FAIRMOUNT INTERNATIONAL LLC</div>
        </div>

        <div class="w-1/3 text-center">
          <div class="border-b pt-1 mb-1">
            {{ finalInvoiceData.createdAt | date }}
          </div>
          <div class="text-xs text-gray-500">Date</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DELETE CONFIRMATION MODAL -->
<section
  *ngIf="deleteProformaButton"
  class="fixed flex items-center justify-center print:bg-white bg-gray-400/30 top-0 left-0 right-0 z-50 w-full p-4 print:p-0 overflow-hidden sm:inset-0 h-[calc(100%-1rem)] md:h-full print:hidden"
  (click)="deleteProformaButton = false"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative w-full max-w-3xl max-h-56 print:w-full overflow-y-auto"
  >
    <div
      class="p-8 bg-white rounded-none border-none text-gray-900 font-[Arial] leading-tight items-center"
    >
      <div>
        <p>Are you sure you want to delete this Proforma Invoice</p>
      </div>
      <div class="flex gap-2">
        <button
          *ngIf="!isDeleting"
          (click)="deleteProforma()"
          type="button"
          class="px-6 py-2 print:hidden mb-2 bg-red-600 text-white font-semibold rounded-md shadow-md print:shadow-none hover:bg-red-700 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          Delete
        </button>
        <button
          *ngIf="isDeleting"
          type="button"
          class="px-6 py-2 print:hidden mb-2 bg-red-600 text-white font-semibold rounded-md shadow-md print:shadow-none hover:bg-red-700"
        >
          Deleting ...
        </button>
        <button
          (click)="deleteProformaButton = false"
          type="button"
          class="px-6 py-2 print:hidden mb-2 bg-blue-600 text-white font-semibold rounded-md shadow-md print:shadow-none hover:bg-blue-700"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</section>
