<section class="p-5">
  <p class="text-3xl text-gray-700 font-bold">Commerical Invoice</p>

  <form [formGroup]="CIReport">
    <div class="flex items-end mb-10">
      <div class="mr-6">
        <label class="block mb-2 text-sm font-medium text-gray-900"
          >Start Date*</label
        >
        <input
          formControlName="startDate"
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
      </div>

      <div class="mr-6">
        <label class="block mb-2 text-sm font-medium text-gray-900"
          >End Date*</label
        >
        <input
          formControlName="endDate"
          type="date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        />
      </div>

      <button
        (click)="getCIReport()"
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2"
      >
        Get report
      </button>
    </div>
  </form>
  <div>
    <div class="overflow-x-auto">
      <table
        mat-table
        matSort
        [dataSource]="sortedData"
        #empTbSort="matSort"
        (matSortChange)="sortData($event)"
      >
        <ng-container matColumnDef="commercialInvoiceNumber">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="commercialInvoiceNumber"
          >
            Commercial Invoice Number
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.commercialInvoiceNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="customerId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="customerId">
            Customer
          </th>
          <td mat-cell *matCellDef="let element">
            {{ getCustomerName(element.customerId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="finalDestination">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="finalDestination"
          >
            Final Destination
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              {{ element.finalDestination }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="totalAmount">
            Total Amount
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              {{ element.totalAmount }}
            </ng-container>

            <ng-template #documentTitle>Not Set</ng-template>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="matHeaders"
          class="bg-gray-100 text-uppercase h-8"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: matHeaders"
          class="cursor-pointer hover:bg-gray-200 h-8"
          (click)="openViewCIModel(row)"
        ></tr>
      </table>
    </div>
  </div>

  <div
    *ngIf="loadingReport == false && ciReport.data.length == 0"
    class="flex items-center justify-center py-10 px-5 mr-2 font-medium text-gray-900"
  >
    No Data Found
  </div>
  <div
    *ngIf="loadingReport"
    class="flex items-center justify-center py-10 px-5 mr-2 shadow-md font-medium text-gray-900"
  >
    <svg
      aria-hidden="true"
      role="status"
      class="inline w-4 h-4 mr-3 text-gray-200 animate-spin"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="#1C64F2"
      />
    </svg>
    Loading Report...
  </div>
  <!-- pagination -->
  <mat-paginator
    class="mt-5"
    #paginator
    [length]="ciReport.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50, 100]"
  ></mat-paginator>
</section>
<app-view-commerical-invoice
  *ngIf="showModel"
  [ciNumber]="ciNumber"
  (onClick)="showModel = false"
>
</app-view-commerical-invoice>
