<div class="flex w-full h-screen flex-col">
  <div
    class="flex items-center justify-between p-4 bg-gray-800 text-white print:hidden"
  >
    <div class="flex items-center space-x-4">
      <div class="">
        <div
          class="px-4 py-2 hover:bg-gray-700 rounded cursor-pointer text-white"
          (click)="openMoreOptions()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="white"
            x="0px"
            y="0px"
            width="20"
            height="20"
            viewBox="0 0 50 50"
          >
            <path
              d="M 2 9 L 2 11 L 48 11 L 48 9 L 2 9 z M 2 24 L 2 26 L 48 26 L 48 24 L 2 24 z M 2 39 L 2 41 L 48 41 L 48 39 L 2 39 z"
            ></path>
          </svg>
        </div>
      </div>
      <a routerLink="" class="text-xl font-bold">Fairmount </a>
    </div>
  </div>

  <div>
    <app-side-nav
      [class.hidden]="!showSideNav"
      (onClick)="showSideNav = false"
    ></app-side-nav>

    <router-outlet></router-outlet>
  </div>
</div>
